<!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <h2><strong>TESTING</strong> </h2>
      <div class="btn-group heder-dropdown-align">
        <button type="button" class="btn btn-secondary dropdown-toggle header-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Demo-Wiser Drones-Staging
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Drone-01</a>
          <a class="dropdown-item" href="#">Drone-02</a>
          <a class="dropdown-item" href="#">Drone-03</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Drone-04</a>
        </div>
      </div>
      <div class="btn-group ml-2">
        <button type="button" class="btn btn-secondary dropdown-toggle header-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Wiser Drones
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Drone-01</a>
          <a class="dropdown-item" href="#">Drone-02</a>
          <a class="dropdown-item" href="#">Drone-03</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Drone-04</a>
        </div>
      </div>
      <ul class="navbar-nav">
        <!-- This menu is hidden in bigger devices with d-sm-none. 
             The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
        <li class="nav-item dropdown d-sm-block d-md-none">
          <a class="nav-link dropdown-toggle" style="color:black" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Tasks</a>
              <a class="dropdown-item" href="#">Etc ...</a>
          </div>
        </li><!-- Smaller devices menu END -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li>
                <div class="dropdown">
                    <img src="../assets/images/user.png" class="customer-photo" />
                    <p class="need-help text-danger ml-2"><b>Need help? Schedule A Product Tour</b></p>
                    <img src="../assets/images/user2.png" class="customer-photo" />
                    <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                    <ul class="ml-2 dropdown-menu">
                      <li>Login</li>
                      <li>Logout</li>
                      <li>Register</li>
                    </ul>
                  </div>
        </li>
      </ul>
    </div>
  </nav><!-- NavBar END -->
  
  
  <!-- Bootstrap row -->
  <div class="row" id="body-row">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
          <!-- Bootstrap List Group -->
          <ul class="list-group">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <strong>SPONSORED ADS </strong>
              </li>
              <!-- /END Separator -->
              <!-- Menu with submenu -->
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-braille fa-fw mr-3"></span>
                    <span class="menu-collapsed">Overview</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-folder fa-fw mr-3"></span>
                  <span class="menu-collapsed">Campaigns</span>
              </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Recommendations</span>
            </div>
        </a>
              <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-product-hunt fa-fw mr-3"></span> 
                      <span class="menu-collapsed">Sponsored Products</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <!-- Submenu content -->
              <div id='submenu1' class="collapse sidebar-submenu">
                  <a href="#" class="list-group-item list-group-item-action">
                      <span class="menu-collapsed">Ad Groups</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                      <span class="menu-collapsed">Products</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                      <span class="menu-collapsed">Placement</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed">Auto Targeting</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed">Keywords</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <span class="menu-collapsed">Product Targeting</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <span class="menu-collapsed">Search Items</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Keyword Suggestions</span>
        </a>
              </div>
              <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-bitcoin fa-fw mr-3"></span>
                      <span class="menu-collapsed">Sponsored Brands</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <!-- Submenu content -->
              <div id='submenu2' class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed">Keywords</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <span class="menu-collapsed">Product Targeting</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <span class="menu-collapsed">Search Items</span>
          </a>
              </div>            
              <!-- Separator without title -->
              <li class="list-group-item sidebar-separator menu-collapsed"></li>            
              <a href="#" data-toggle="sidebar-colapse" class="list-group-item list-group-item-action d-flex align-items-center">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span id="collapse-icon" class="fa fa-2x mr-3" (click)="SidebarCollapse()"></span>
                      <span id="collapse-text" class="menu-collapsed" (click)="SidebarCollapse()">Collapse</span>
                  </div>
              </a>
          </ul><!-- List Group END-->
      </div><!-- sidebar-container END -->
  
      <!-- MAIN -->
      <!-- Grid to display userdata -->
      <div class="col grid-body">
          <!-- <div class="row justify-content-center">
            <h3 class="text-center">Grid for User Details!</h3>
          </div> -->
        <kendo-grid
        [data]="gridView"
        kendoGridSelectBy="id"
        [selectedKeys]="mySelection"
        [selectable]="true"
        [pageSize]="pageSize"
        [pageable]="true"
        [skip]="skip"
        [sortable]="true"
        [reorderable]="true"
        [resizable]="true"
        [height]="600"
        (pageChange)="onPageChange($event)"
        (sortChange)="sortChange($event)"
         [sort]="sort"
        [columnMenu]="{ filter: true }"
      >
        <ng-template kendoGridToolbarTemplate>
          <kendo-grid-spacer></kendo-grid-spacer>
          <input placeholder="Search in all columns..." kendoTextBox [(ngModel)]="searchText" (input)="onFilter(searchText)"/>
          <button kendoGridExcelCommand type="button" icon="file-excel">
          </button>
          <button kendoGridPDFCommand icon="file-pdf"></button>
        </ng-template>
        <kendo-grid-checkbox-column
          [width]="45"
          [headerClass]="{ 'text-center': true }"
          [class]="{ 'text-center': true }"
          [resizable]="true"
          [columnMenu]="false"
         
        ></kendo-grid-checkbox-column>
        <kendo-grid-column-group title="Employee" [columnMenu]="false" [headerStyle]="{'font-weight':'bold'}">
              <kendo-grid-column field="first_name" title="Name" [resizable]="true"
              [width]="220">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <img class="customer-photo" data-src="{{dataItem.avatar}}"/>
                    <div class="customer-name">{{ dataItem.first_name }}</div>
                </ng-template>
            </kendo-grid-column>
          <kendo-grid-column field="last_name" title="Last Name" [width]="220" [headerStyle]="{'font-weight':'bold'}">
          </kendo-grid-column>
        </kendo-grid-column-group>
        <kendo-grid-column-group title="Contacts" [columnMenu]="false" [headerStyle]="{'font-weight':'bold'}">
          <kendo-grid-column field="email" title="Email" [width]="200" [headerStyle]="{'font-weight':'bold'}">
          </kendo-grid-column>
        </kendo-grid-column-group>
  
        <kendo-grid-pdf
          fileName="Employees.pdf"
          [repeatHeaders]="true"
        ></kendo-grid-pdf>
        <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
      </kendo-grid>
  
  
      </div><!-- Main Col END -->
      
  </div><!-- body-row END -->